body {
    margin: 0;
    font-family: Lato, sans-serif;
    background-color: rgb(51, 51, 51);
}


header.bar {
    top: 0;
    overflow: hidden;
    position: absolute;
    border-width: 2px;
    background-color: rgb(51, 51, 51);
    border-style: solid;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width:100%; 
}

nav.main-nav {
    margin-left: 250px;
    font-size: 15px;
    display: flex;
    z-index: 10;
    overflow: hidden;

}

nav.main-nav a {
    overflow: hidden;
    position: relative;
    color: rgb(254, 254, 254);
    text-decoration: none;
    padding: 20px 15px;
    font-weight: 400;
    transition: background-color 0.3s ease;
    z-index: 10;
}

nav.main-nav a:hover {
    text-decoration: underline;

}


.modal1, .modal2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 480px;
    background-color: white;
    z-index: 10000;
    align-items: center;
    transform: translate(-50%, -50%);
}

.modal2 {
    visibility: hidden;
}

.overlay-sign-in {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5000;
    width: 100%;
    overflow: hidden;
    height: 100%;
    transition: visibility 0s;
}

.form{
    margin-top: 30px;
}

.title{
    position: fixed;
    font-size: 22px;;
    left: 50%;
    transform: translateX(-50%);
    bottom: 91%;
    font-weight: 600;
}

.break{
    position: absolute;
    margin: 270px 0 0 0;
}

.names, .address, .credentials {
    display: flex;
    gap: 15px;
    flex-basis: 45%;
    flex-wrap: wrap;
    gap: 0;
}

.credentials1{
    position: absolute;
    display:flex;
    flex-direction: column;
    gap: 0;
    top: 10%;
    left: 50%;
    transform: translateX(-60%);
}

.em-label, .First-label, .Count-label, .em-label1{
    position: absolute;
    margin: 48px 0 0 60px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #716d6d;
}
.pass-label1{
    position: absolute;
    margin: 130px 0 0 60px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #716d6d;
}

.pass-label, .Last-label, .St-label{
    position: absolute;
    margin: 48px 0 0 383px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #716d6d;
}

.Zip-label{
    position: absolute;
    margin: 130px 0 0 60px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #716d6d;
}

.num-label{
    position: absolute;
    margin: 130px 0 0 383px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #716d6d;
}

.em-field1, .pass1{
    width: 75%;
    margin: 35px 0 0 45px;
    padding: 18px 15px 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.show-pass{
    position: absolute;
    background: none;
    margin: 133px 0 0 245px;
    border: none;
    cursor: pointer;
}

.show-pass2{
    position: absolute;
    background: none;
    margin: 50px 0 0 607px;
    border: none;
    cursor: pointer;
}

.em-field, .pass, .First-Name, .Last-Name,.Street-Address, .Postal-Coded, .Country-City, .num {
    width: 35%;
    margin: 35px 0 0 45px;
    padding: 18px 15px 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.em-field:focus, .pass:focus, .First-Name:focus, .Last-Name:focus,.Street-Address:focus, 
.Postal-Coded:focus, .Country-City:focus, .complete-sign-in-button:hover, .em-field1:focus, .pass1:focus, .num:focus {
    border-color: rgb(157, 69, 233);
    box-shadow: 0 0 5px rgb(157, 69, 233);
}

.em-field:focus ~ .em-label, .em-field:not(:placeholder-shown) ~ .em-label, .pass:focus ~ .pass-label,
 .pass:not(:placeholder-shown) ~ .pass-label, .First-Name:focus ~ .First-label, .First-Name:not(:placeholder-shown) ~ .First-label,
.Last-Name:focus ~ .Last-label, .Last-Name:not(:placeholder-shown) ~ .Last-label, .Country-City:focus ~ .Count-label, 
.Country-City:not(:placeholder-shown) ~ .Count-label, .Street-Address:focus ~ .St-label, 
.Street-Address:not(:placeholder-shown) ~ .St-label,.Postal-Coded:focus ~ .Zip-label, .Postal-Coded:not(:placeholder-shown) ~ .Zip-label,
.em-field1:focus ~ .em-label1, .em-field1:not(:placeholder-shown) ~ .em-label1, .pass1:focus ~ .pass-label1,
.pass1:not(:placeholder-shown) ~ .pass-label1, .num:focus ~ .num-label, .num:not(:placeholder-shown) ~ .num-label{
    transform: translateY(-60%);
    font-size: 12px;
    color: rgb(138, 138, 138);
}

.em-field:hover,.pass:hover, .First-Name:hover, .Last-Name:hover,.Street-Address:hover,
.Postal-Coded:hover, .Country-City:hover, .em-field1:hover,.pass1:hover, .num:hover{
    border-color: #555; 
}

.log-in{
    margin: 60px 0 0 27px;
}

.create{
    margin: 180px 0 0 27px;
}

.complete-sign-in-button, .log-in, .create{
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    top: 82%;
    background-color: rgb(157, 69, 233);
    font-size: 20px;
    color: white;
    width: 230px;
    height: 55px;
    border: hidden;
    border-radius: 10px;
    font-weight: 450;
}

.complete-sign-in-button:active , .log-in:active, .create:active {
    background-color: rgb(132, 58, 197);
    transform: translateX(-50%) scale(0.98);
    transform-origin: center;
    box-shadow: 0 0 8px rgb(132, 58, 197); 
}

.x{
    background: none;
    border: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 91%;
    left: 94%;
    z-index: 500000;
}

.back{
    background: none;
    border: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 91%;
    right: 94%;
    z-index: 500000;
}

.x:hover, .back:hover{
    background-color: rgba(226, 226, 226, 0.652);
}

.gallery-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.image-scroller {
    display: flex;
    gap: -30px;
    position: relative;
    transition: transform 1s ease-in-out;
}


.image-scroller span {
    flex-shrink: 0;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
}

.image-scroller img {
    transition: opacity 0.5s ease;
}

.image-scroller span {
    opacity: 0.2;
    transform: scale(1);
}

.image-scroller span.center-image {
    transform: scale(1);
    z-index: 1;
    opacity: 1;
}

.spanner img {
    width: 700px;
    height: 435px;
}

.sign {
    margin-left: 550px;
}

.search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 515px 0 0 180px;
    background-color: rgb(68, 63, 68);
    width: 70%;
    padding: 50px;
    border-radius: 16px;
    z-index: 10;

}

.search-form {
    display: flex;
    gap: 0;
    z-index: 10;


}

.makes {
    padding: 25px 130px 10px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 15px;
}

.models,.mileages,.years {
    padding: 25px 130px 10px 10px;
    font-size: 15px;
}

.make-text,.model-text,.year-text,.mileage-text {
    color: rgb(103, 103, 103);
    font-weight: 1000;
    font-size: 12px;
    position: absolute;
    margin: 5px 0 0 15px;

}

.search-button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 15px;
    color: white;
    background-color: rgb(157, 69, 233);
    width: 100px;
}